*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

./NaverAPI_Movie_Search/app/src/main/java/com/example/kokihoon/naverapi_movie_search/NaverAPI_key.java